<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span>Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Nome:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Email:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Senha:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Idade:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Endereço:</span>
      <span>xxxxx, xxxxx, xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Telefone:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Ativo:</span>
      <span>xxxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Função:</span>
      <span>xxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Data de Cadastro:</span>
      <span>xxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="u-text-align-center">
      <span>Status:</span>
      <span>xxxx</span>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>
</div>
