<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="user-details__title">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Nome:</span>
      <span>{{ user.nome | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Email:</span>
      <span>{{ user.email | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Senha:</span>
      <span>{{ user.senha }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Idade:</span>
      <span>{{ user.idade }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Endereço:</span>
      <span>{{ user.endereco | address }} </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Telefone:</span>
      <span>{{ user.telefone | phone }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Status:</span>
      <span>{{ user.ativo | status }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Função:</span>
      <span>{{ user.funcao | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="user-details__campos">Data de Cadastro:</span>
      <span>{{ user.dataCadastro | date : "dd/MM/yyyy" | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
